[submodule "ros_ws/src/velodyne"]
	path = ros_ws/src/velodyne
	url = https://github.com/anastasiia-kornilova/velodyne.git
	branch = mrob_patches
[submodule "serial"]
	path = serial
	url = https://github.com/RoverRobotics-forks/serial-ros2
